/* variables */
/* Mixins */
.border {
  border: 1px solid white;
}
/* animations */
/* Styling */
body {
  color: #ffffff;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  background-color: black;
}
#gameWindow {
  width: 1280px;
  height: 720px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
#introScreen {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  border: 1px solid white;
  background-image: url(../images/williamsonIntro.jpg);
}
#btnStart {
  position: relative;
  left: 900px;
  top: 400px;
  width: 250px;
}
h1 {
  color: white;
  cursor: pointer;
}
#town,
#player,
#enemy1 {
  position: absolute;
}
#enemy1 {
  border: 1px solid white;
}
#dialogue {
  position: absolute;
  width: 400px;
  height: 200px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(102, 34, 0, 0.8);
  top: 50px;
  left: 820px;
  font-size: 25px;
  padding: 20px 10px 0px 20px;
}
.faceLeft {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#map {
  position: absolute;
  top: 60px;
  left: 220px;
  width: 800px;
  height: 600px;
  background-color: blue;
  color: black;
  display: none;
}
#status {
  width: 1280px;
  height: 150px;
  margin: 0 auto;
  border: .border;
  background-color: black;
  position: relative;
}
.output {
  width: 300px;
  border: 1px solid white;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 950px;
}
/* Health */
#healthBox {
  position: absolute;
  border: 1px solid white;
  top: 20px;
  left: 20px;
  width: 300px;
  overflow: hidden;
}
#healthBox p {
  margin: 0;
  padding: 0;
}
#healthbar {
  border: 1px solid white;
  position: relative
  width: 250px;
  height: 20px;
  top: 5px;
  left: 5px;
  background-color: #ccc;
  overflow: hidden;
}
#currenthealth {
  background-color: red;
  position: absolute;
  height: 20px;
  width: 300px;
  left: -80px;
}
/* Magic start */
#magicBox {
  position: absolute;
  border: 1px solid white;
  top: 80px;
  left: 20px;
  width: 300px;
  overflow: hidden;
}
#magicBox p {
  margin: 0;
  padding: 0;
}
#magicbar {
  border: 1px solid white;
  position: relative
  width: 250px;
  height: 20px;
  top: 5px;
  left: 5px;
  background-color: #ccc;
  overflow: hidden;
}
#currentmagic {
  background-color: red;
  position: absolute;
  height: 20px;
  width: 300px;
  left: -80px;
}
/* Sword start */
#primaryWeapon {
  position: absolute;
  border: 1px solid white;
  top: 20px;
  left: 350px;
}
#secondaryWeapon {
  position: absolute;
  border: 1px solid white;
  top: 20px;
  left: 500px;
}
#objective {
  position: absolute;
  border: 1px solid white;
  top: 20px;
  left: 800px;
}
